/*#parameters{width: 30%; float: left;}
#result{ width: 68%;float: left;font-family:sans-serif;}*/
button {display: block; margin: 2em 0;}
select{width: 90%;}
body {font-family:sans-serif;}


/*#w-parse-prop, #w-query-prop{display: none;}*/

/* new */
#main{
  display: flex;
  margin-bottom: 1em;
}
#main span{
  text-transform: uppercase;
  display: inline-block;
  /*height: 30px;*/
  width: 33.3%;
  background-color: #000;
  color: #fff;
  padding: 1.5em;
  border-right: 1px solid #fff;
}
#main span.current{
  color: #00ff00;
}
#main span.previous{
  color: lightgreen;
}

/*#tool, #wikiSrc{ width: 50%; float: left;}

#refUrl{
  text-align: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: .5em;
}*/

/*#mechanism{
  float: left; width: 66.6%;
}*/

#wikiLinks{
  text-align: center;
  font-size: 0.9em;
  width: 33.3%;
  height: 100%;
  min-height: 500px;
  float: left;
}

#wikiLinks a{
  text-decoration: underline;
  display: block;
  background-color: #f0f0f0;
  border-top: 1px solid #fff;
  padding: 1em 0;
  /*cursor: pointer;*/
}

#parameters{
  /*width: 60%;*/
  text-align: center;
}
button{
  display: inline-block;
  background-color: #000;
  color: #fff;
  padding: .3em;
  border: 0;
  /*margin: 1px;*/
}

#makeQuery{
  float: right;
  margin-right: 12em;
  padding: 1.2em;
  font-size: .8em;
  background-color: green;
  cursor: pointer;
  display: none;
}

#makeQuery:hover{
  background-color: darkgreen;
}

#msg{
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  min-height: 1em;
  color: #333;
  text-align: center;
}

#msg.error{
  color: red;
}

#btns button{
  display: none;
}
/*#btns button#makeQuery{
  display: inline-block;
}

#btns button[disabled="true"]{
  background-color: #666;
  cursor: not-allowed;
}*/

input[type="text"]{
  width: 80%;
  font-size: 1.2em;
}
input[type="text"]:focus{
  border: 2px solid #000;
}
#w-proj{margin-top: 1em;}

/* Modules */
#modules{
  display: flex;
  flex-wrap:wrap;
  justify-content:  center;
  padding-top: 2em;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}
.module{
  display: none;
  border: 1px solid #000;
  padding: 2em;
  margin: 1em .5em ;
  cursor: pointer;
}
.module:hover{
  background-color: #666;
  color: #fff;
}
.module.selected{
  background-color: #000;
  color: #fff;
  position: relative;
}
.module.selected::before{
  /* ref: http://astronautweb.co/snippet/font-awesome/ */
  content:  "\f00c";  /* &#xf00c; fontawesome 'check' */
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: green;
  position: absolute;
  top: 2px;
  right: 2px;
}
